node_modules
**/node_modules
.pnpm-store
**/.pnpm-store
dist
build
.next
.cache
**/.cache
.vite
**/.vite
coverage
**/coverage
.git
.gitignore
.env
.env.*
logs
**/logs
*.log
tmp
**/tmp
.DS_Store
**/.DS_Store
reports
docker/postgres-data
