POSTGRES_DB=netops
POSTGRES_USER=netops
POSTGRES_PASSWORD=netops
POSTGRES_PORT=5432

API_PORT=8080
WEB_PORT=3000

SESSION_SECRET=change-me-please-with-32-or-more-chars
LOG_LEVEL=info
CONFIG_APPLY_ENABLED=false
DRY_RUN_DEFAULT=true
NETBOX_ENABLED=false
NETBOX_URL=
NETBOX_TOKEN=
NETBOX_SKIP_TLS_VERIFY=false
NETBOX_TIMEOUT_MS=10000
NETBOX_PAGE_SIZE=100
L2_DISCOVER_SSH_ENABLED=false
L2_OPERATIONAL_REFRESH_ENABLED=false
L2_OPERATIONAL_REFRESH_SSH_CONFIG=false
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=Admin
