CONNECTOR_NAME=cliente-a-connector-01
CONNECTOR_TOKEN=change-me

NETOPS_SERVER_URL=http://IP_DO_NETOPS_SERVER:8085

HEARTBEAT_INTERVAL=60
JOB_POLL_INTERVAL=10
JOB_TIMEOUT=60

WG_ENABLED=false
WG_INTERFACE=wg-netops
WG_CONFIG_PATH=/etc/netops-connector/wireguard/netops.conf

LAN_INTERFACE=eth0
WAN_INTERFACE=eth0

SSH_CONNECT_TIMEOUT=10
SSH_COMMAND_TIMEOUT=60

SNMP_TIMEOUT=5
SNMP_RETRIES=1
SNMP_MAX_LINES=500

LOG_LEVEL=INFO
LOG_DIR=/var/log/netops-connector
STATE_DIR=/var/run/netops-connector

AGENT_VERSION=1.0.0
